/* Put your css in here */

#div1 {
  color: green;
}

#div2 {
  color: yellow;
}

#div3 {
  color: gray;
}

#div4 {
  color: blue;
}

#Trees  {
  width:0;
}

#Stars  {
  width:0;
}

#Mountains  {
  width:0;
}

#The_Ocean  {
  width:0;
}

#Me  {
  width:0;
}

