body {
	border: 4px solid white;
	border-radius: 25px;
	background-color:#white; /*not working*/
}

span{
	color:#c40d03;
}

table {
	/*border: 2px solid black; */
}

.Chicken{
	font-weight: bold; /*I'm a comment!*/
	color:red; /*Changes all words related to chicken red*/ 
	font-family:"Lucida Console",Monaco,monospace; /*Changes font*/ 
}

.Family{
	background-color:#fff9a5; /*Provides background highlight*/ 
	color:black; /*Changes font colour*/ 
}

.HeaderImage{
	background-image:url(Gallifrey.jpg);
    background-position:center;
    height: 100px;
    width:100%;
}